<!-- Begin Tickets Section -->
<section id="register" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>Register</h3>
            <h5>Participation to the summit is free but the registration is mandatory</h5>
            <a href="https://goo.gl/forms/RbPn8yQbQVgAnGXm1" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Registration form</a>
		</div>
	</div>
</section>
<!-- End Tickets Section -->
