<!-- Begin Register Section -->
<section id="register" class="tickets">
  <div class="content-wrapper">
    <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
      <h3>Register</h3>
      <h5>Participation to the summit is free but the registration is mandatory</h5>

      <p>You can register for the summit now:</p> <br>
      <a href="https://eveeno.com/geonode-summit-2020" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">register on eveeno</a>
      </p>
      <p> As stated above the summit itself (including the workshops) is free of charge. You would have to pay for the travel, hotel and evening events like boat trip and conference dinner.</p>

    </div>
  </div>
</section>
<!-- End Register Section -->
